* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1920px;
  background-color: #FBF4EC;
}

.firstpage {
  width: 95%;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}